
@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url('SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),  
  url('SFUIDisplay-Regular.woff') format('woff'), 
  url('SFUIDisplay-Regular.ttf')  format('truetype'), 
  url('SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
