.notfnd-maincont{
	background-color:#f0f0f0;
}

.notfnd-maincont{
	background-color: #f0f0f0;
}

.notfnd-hOne{
	margin: 147px 0 17px 0;
	font-family: Roboto;
	font-size: 26px;
	font-weight: 900;
	letter-spacing: -0.6px;
	color: #000000;
}

.notfnd-descrp{
	padding-left: 30px;
	font-family: Roboto;
	font-size: 12px;
	color: #000000;

	a{
		font-family: Roboto;
		  font-size: 12px;
		
		  color: #315efb;
	}
}

.ntfnd-search{
	margin-top: 23px;
}

.ntfnd-searchform{
	height: 43px;
	
}

.btn-loupe{
	padding: 12px 29px;

	&:focus{
			border: double 1px #649dff;
			color: #ffffff;
			padding: 11px 28px;
			}
			&:hover{
			background-color: #234ae4;
			color: #ffffff;
			}
			&:active{
			background-color: #1039d6;
			}
}

.btn-loupe-icon{
	width: 19px;
	height: 19px;
}


.ntfnd-big-parag{
	
	position:relative;
	color:#e3e3e3;
	font-family: Roboto;
  	font-size: 102px;
  	font-weight: 900;
  	letter-spacing: -2.5px;
  	color: #e3e3e3;
  	padding: 15px;

	&:after{
		content: "популярное";
		width: 130px;
		height: 33px;
		
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
			
		font-family: Roboto;
		font-size: 30px;
		font-weight: 900;
		text-align: center;
		color: #000000;

}
}

@media (min-width : 320px) and (max-width : 767px) {

	.notfnd-hOne{
		margin: 27px 0 17px 0;
		padding-left: 0;
		padding-right: 0;
	}
	.notfnd-descrp{
		padding-left: 0;
	}
	.ntfnd-search{
		padding-left: 0;
		padding-right: 0;
	}

	.card-block404{
		padding-left: 0;
		padding-right: 0;
	}

}

