.cityGuideHeader{
	display: block;
	padding-bottom: 13px;
	margin-top:36px;
	margin-bottom: 33px;

	font-family: Roboto;
	font-size: 36px;
	font-weight: 900;
	letter-spacing: -0.9px;
	color: #000000;
	border-bottom: 1px solid #dfe4ec;;
	}


.cityGuidesSlider{
	height: 456px;
	margin-bottom: 36px;
}

.cityGuideCatCardsBlock{
	@extend .right_left_margin45px;
}

.cityGuideLastNewsBlock{
	@extend .right_left_margin45px;
}

.cityGuideTop5Block{
	border: 1px solid #e5e5e6;
	
}


.top5TableHead{
	font-family: Roboto;
	font-size: 26px;
	font-weight: 900;
	letter-spacing: -0.6px;
	color: #000000;
	padding-left: 40px;
	margin-top: 11px;
}
.cg-top5-block
{
	display: block;

	&[data-page="cityguide"]
	{
		cursor: pointer;

		&.active
		{
			cursor: default;
		}
	}
}

.cityGuideTableName{
	display: inline-block;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
	color: #454545;
	margin: 8px 0 8px 5px;
	padding: 7px 15px 9px 15px;
	 word-wrap: break-word;
	

	&:hover{
		border-radius: 40px;
  		border: solid 1px #d1d9fc;
  		padding: 6px 14px 8px 14px;
	}

	&.active
	{
		position: relative;

		background-color: #eaefff;
		border-radius: 40px;

		padding: 6px 30px 8px 14px;
		

		&:hover
		{
			border: none;

			cursor: default;
		}
	}
}

.cityGuideTableValue{
	display:inline-block;
	
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
	color: rgba(69, 69, 69, 0.5);
	margin: 8px 0;
	padding: 7px 15px 9px 15px;

	&:hover{
		border-radius: 40px;
  		border: solid 1px #d1d9fc;
  		padding: 6px 14px 8px 14px;
	}
}

.cityGuideLastNews{
	background-color: #e4e4e4;
	border: solid 1px #e5e5e6;
	margin: 20px 0 30px 0;
}

.cityGuideRewiewHead{
	border-bottom: 1px solid #444444;
	margin-top: 32px;
	p{
		display:inline-block;
	}
}

.cityGuideRewiewBtn1{
	display: inline-block;
	padding: 6px 21px;
	border: solid 2px rgba(15, 14, 14, 0.4);
	float: right;
	letter-spacing: 0.8px;
	margin-top: 3px;

		&:focus{
			padding: 6px 21px;	
			border: solid 2px rgba(15, 14, 14, 0.4);
			}
			&:hover{
			background-color: #eeeeee;
			padding: 6px 21px;	
			border: solid 2px rgba(15, 14, 14, 0.4);

			}
			&:active{
			background-color: #d2d2d2;
			padding: 6px 21px;	
			border: solid 2px rgba(15, 14, 14, 0.4);
			}
}

.cityGuideMoreViewBtnBlock{

	text-align: center;
	vertical-align: center;
	margin-bottom: 10px;
	margin-top: 14px;

}

.ctguide-lastrew-cont{
	width: 260px;
}

.cityGuideMoreViewBtn{
	background-color: #ffffff;
	padding: 3px 30px 5px 30px;
	display: inline-block;
	border: solid 2px #e5e5e6;
	width: 202px;

	.MoreViewBtnPar{
		font-family: Roboto;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.8px;
		color: #333333;
		margin-right: 4px;
	}

	.MoreViewBtPoint{
		display: inline-block;
		border-radius: 90px;
		width: 6px;
		height: 6px;
		background-color: #e5e5e6;
	}
}

.ctg-RewiewBlocks{
	.cityGuidesRewiewBlocks{
	
	height: 100px;
	padding-right: 5px;
	margin-bottom: 15px;
	display: inline-block;
	

	padding-bottom: 15px;


	&:hover{
		
		.reviewHeadParag{
			color: #315efb;
		}
		.secondNewsParagrafs{
			color: #315efb;
		}

		.ind-rewheadBlock{
			color: #315efb;
		}

	}
}
}





.cityGuideRewiewBanner{
	margin: 35px 0;
}


.cityGuideNewPlacesHead{
	margin: 0 0 16px 0;
}

.cityGuideMoreViewPlacesBtn{
	margin-top: 5px;
}

.cityGuideNewPlaceBlock{
	padding-bottom: 17px;
}


.ct-guide-banner{
	border: 10px solid #315efb;
}

.wr_switcher
{
	margin: 20px 20px 0;
}


.city-guide-slider{
		.main-slider-controlers{
			height: 280px;
			top: 13%;
		}
	}
	
.city-guide-addbanner{
	padding-left: 30px;
	padding-right: 30px;
}

.city-guide-addplaceblock{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.simPlaceAddImage{
	display: inline-block;
	width: 84px;
	height: 84px;
	margin: 15px 0 20px 0;

}
.simPlaceParagraf1{
		width: 160px;
    	margin: 15px 0 10px;
		white-space: normal;
	}


@media (min-width : 320px) and (max-width : 767px){

	.cityGuideHeader-block{
		margin: 0;
	}
	.cityGuideHeader{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.city-guide-slider{
		.main-slider-controlers{
			height: 144px;
			top: 13%;
		}
	}

	.top5place-container-two{
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	.cityGuideTop5Block{
		max-width: 300px;
	}


	.wr_switcher{
		display: none;
	}

	.city_guide_line{
		display:none;
	}
	.top_cards{
		padding-left: 0;
	}

	.similarPlaceCard{
		width: 150px;
	}

	.city-guide-addplaceblock{


		.simPlaceAddBtnBlue{
    		padding: 11px 24px;
    		&:focus{
				padding: 10px 22px;
    		}
		}
	}

	.cityGuideLastNews{
		.cityGuideRewiewHead{
			.paragraf{
				max-width: 140px;
				font-size: 24px;
			}
		}
	}
	.cityGuideRewiewBanner{
		display: none;
	}
	
	.city-guide-addbanner{
		padding-left: 0;
		padding-right: 0;
	}
	
	.restAddPlaceBanner{
		background-size: cover;
		padding-left: 0;
		padding-right: 0;
		padding-top: 1px;
	}
	.phone-ct-guide-banner{
		display: none;
	}
	.city-guide-addplaceblock1{
		padding-left: 0;
	}
}

@media (min-width : 768px) and (max-width : 1024px){

	.top5place-container{
		padding: 0;
	}

	.similarPlaceCard{
		width: 160px;
	}
	.simPlaceAddBtnBlue{
		padding: 11px 24px;
		width: 130px;
		&:focus{
			padding: 10px 22px;
		}
	}

	.cityGuidesRewiewBlocks{
		max-width: 200px;
		overflow: hidden;
	}

	.restAddPlaceBanner{
		background-size: cover;
	}
}


