@import "catalog_card.scss";


.footer {
	width:100%;
	background-color:black;
}
	
.container-fluid.footerMainContainer{
	max-width:1000px;
	height:100%;
	background-color:black;
}

.footerLogo{
	margin: 40px 0 40px 15px;
}

.footerBlocks{
	padding-left: 70px;
}

.footerHeaders{
	
	margin-bottom:10px;
 	height: 28px;
 	font-family: Roboto;
 	font-size: 24px;
 	font-weight: 900;
  
 	color: #ffffff;
}

.footerNav{
	li{
		line-height: 1.2;
		display: block;	
	}
}
.footerNavElements{	
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: normal;
	color: #ffffff;
  		}
.emailForm{
	
	display:inline-block;
	margin-bottom: 5px;

	input{
		font-size: 12px;
		color: rgba(255, 255, 255, 0.4);
		width: 240px;
		background-color:black;
		border: solid 1px white;
		padding: 12px 10px;
	}
}


.footerSocials{
	margin-top:5px;
	display:flex;
	flex-direction: row;
	max-width: 210px;
	justify-content:space-between;

	.footerSocialsIcons{
		background-color:#272d3c;
		width:38px;
		height:38px;
		border-radius: 50%;
		display: flex;
			
			img{
				margin:auto;
			}
		}

}

.footerEmail-form{

	label{
		
	 font-family: Roboto;
	 font-size: 13px;
	 color: #ffffff;
	 display: block;

	}
}


.footerBlockRigths{
	border-top: 1px solid #393a3b;
	margin-top: 30px;
	padding: 30px;
	p{
		font-family: Roboto;
		font-size: 13px;
		color: #ffffff;
	}
}

.footer-agreement{
	font-family: Roboto;
	font-size: 13px;
	color: #ffffff;
	border-bottom: 1px solid #fff;
	  

	  &:hover{
	  	border-bottom: 1px solid #23527c;
	  }
}



#footerInputEmail{
	width: 60%;
	display:inline-block;
	font-family: Roboto;
  	font-size: 13px;
  	color: rgba(255, 255, 255, 0.4);
  	border: solid 1px #cccccc;
  	background-color: #000000;
  	border-radius: 0;
  	padding: 21px 5px;
}

.footerButton{
	display:inline-block;
	margin: 0 0 6px -5px;
	padding: 14px 26px 13px 26px;

	&:focus{
			padding: 13px 25px 12px 25px;
			outline: solid 1px #649dff;
		}

		&:hover{
			background-color:#234ae4;
		}
		&:active{
			background-color: #1039d6;

		}

}

@media (min-width : 320px) and (max-width : 767px) {
	.footer_phone_lists{
		padding-left: 20px;
		width: 50%;
	}
	.footer_phone_social{
		padding-left: 20px;
		width: 100%;
		margin-top: 24px;

		#footerInputEmail{
			width: 50%;
			margin-right: -5px;
		}

		.footerSocials{
			max-width: 310px;
		}
	}

	.footer_phone_logo_block{
		display: flex;
		justify-content: center;
	}
}



@media (min-width : 768px) and (max-width : 1024px){
	.footerButton{
		margin-left: -5px;
	}
	#footerInputEmail{
		width: 50%;
	}
}

