.search-input{
	height: 45px;
	border: solid 2px #eaeaea;

	&::-webkit-input-placeholder
	{
		font-family: Roboto;
		font-size: 12px;
		color: rgba(38, 38, 38, 0.4);
	}
	&::-moz-placeholder
	{
		font-family: Roboto;
		font-size: 12px;
		color: rgba(38, 38, 38, 0.4);
	}
	&:-moz-placeholder
	{
		font-family: Roboto;
		font-size: 12px;
		color: rgba(38, 38, 38, 0.4);
	}
	&:-ms-input-placeholder
	{
		font-family: Roboto;
		font-size: 12px;
		color: rgba(38, 38, 38, 0.4);
	}
}

.search-form{
	margin-bottom: 0;
}

.search-btn-grey{
	display: inline-block;
	margin-left: 20px;
	padding: 14px 42px;
			&:focus{
				border: solid 1px #649dff;
				padding: 13px 41px;
			}
			&:hover{
				background-color: #eeeeee;
			}
			&:active{
				background-color: #d2d2d2;
			}
}

.exact-match-checkbox{
	margin: 13px 36px;
}

.exact-match-lbl{
	font-family: Roboto;
	font-size: 14px;
	color: #262626;
	font-weight: 500;
}

.addparam-head{
	font-family: Roboto;
  	font-size: 26px;
  	font-weight: 900;
  	letter-spacing: -0.6px;
  	color: #000000;
  	margin: 33px 0 25px;
}

.search-empty-block{
	height: 76px;
}

.search-par{
	font-family: Roboto;
	font-size: 14px;
	color: #262626;
	font-weight: 500;
}


.search-forms-blocks .fullsearch-impform{
	width: 100%;
	height: 44px;
	background-color: #fff;
	border-radius: 0;
	font-family: Roboto;
	font-size: 14px;
	color: #262626;
	position: relative;

	
}

.search-forms-blocks
{
	&.active
	{
		z-index: 3;
	}
}

.selectsrch-arrow-down{
	    width: 13px;
	    height: 12px;
	    background-image: url(img/angle-arrow-down.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    position: absolute;
	    right: 24px;
	    top: 46px;
	    cursor: pointer;
	    opacity: 0.3;
	    z-index: 100;
}


.search-parametrs{
	margin-bottom: 39px;
}

.usial-bill{
	margin: 29px 0 15px;
}

.search-forms{
	height: 44px;

	&:hover{
		border: 1px solid #196bfa;
	}
}

.search-forms-blocks{
	margin-bottom: 39px;
}

.search-options{
	font-family: Roboto;
	font-size: 13px;
	line-height: 2.15;
	color: #262626;
	padding-left: 54px;
	height: 29px;
	&:active{
		background-color: #315efb;
		color: #fff;
	}

}

.fullsch-ckb-sp1{
	font-family: Roboto;
	  font-size: 14px;
	  color: #262626;
	  margin-left: 10px;
}

.fullsch-ckb-sp2{
	opacity: 0.5;
	font-family: Roboto;
	font-size: 14px;
	color: #262626;
	margin-left: 10px;
}

.fullsearch-btn{
	padding: 14px 25px;


		&:focus{
			border: double 1px #649dff;
			color: #ffffff;
			padding: 13px 24px;
			}
			&:hover{
			background-color: #234ae4;
			color: #ffffff;
			}
			&:active{
			background-color: #1039d6;
			}
}

.fullsearch-btn-grey{
	padding: 14px 37px;
	margin-left: 20px;
}

.fullsrchbtn-block{
	margin: 30px 0;
}

.title_most_popular
{
	padding-top: 15px;
}

.average_checks
{
	display: inline-block;

	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	color: #454545;

	padding: 6px 26px 6px 11px;

	cursor: pointer;

	&:hover
	{
		border-radius: 40px;
  		border: solid 1px #d1d9fc;
  		padding: 5px 25px 5px 10px;
	}

	&.active
	{
		position: relative;

		background-color: #eaefff;
		border-radius: 40px;
		border: solid 1px #eaefff;

		padding: 5px 25px 5px 10px;
		
		&:after
		{
			content: url(img/cancel.png);
			
			position: absolute;

			top: 0;
			left: auto;
			right: 6px;
		    bottom: 0;
		    
		    width: 17px;
		    height: 18px;

	   		margin: auto;
		}
	}	
}

.sort_field
{
	&.active
	{
		position: relative;

		background-color: #eaefff;
		border-radius: 40px;
		border: solid 1px #eaefff;

		padding: 6px 30px 8px 14px;
		
		&:after{
			content: url(img/cancel.png);
			
			position: absolute;

			right: 6px;
			top: 0;
			bottom: 0;
			left: auto;

			width: 17px;
		    height: 18px;

		    margin: auto;
		}

		&:hover
		{
			border: solid 1px #eaefff;

			padding: 6px 30px 8px 14px;
		}
	}
}

.filter_field
{
	max-width: 272px;
	width: 100%;

	max-height: 200px;
	overflow-y: auto;
}

.cancel_item_list
{
	color: #EEEEEE;
}

.fullmapParametrs2{
	display: inline-block;
	font-family: Roboto;
  	font-size: 12px;
  	font-weight: 500;
  	text-align: left;
  	color: #454545;
  	width: 120px;
  	padding: 4px 23px 4px 9px;
  	cursor: pointer;
}

.result-row{
	padding: 0 30px;
}

.search-btn-blue{
	display: inline-block;
	margin-left: 20px;
	padding: 14px 42px;
			&:focus{
				border: solid 1px #649dff;
				padding: 13px 41px;
			}
			&:hover{
				background-color: #234ae4;
			}
			&:active{
				background-color: #1039d6;
}
}

.results-par
{
	display:inline-block;
	font-family: Roboto;
  	font-size: 12px;
  	font-weight: 500;
  	line-height: 2.5;
  	text-align: left;
  	color: #262626;

  	&:hover{
  		color: #315efb;
  	}

  	&.active
  	{
  		color: #315efb;	
  	}
  	
}

.results-number{
	display:inline-block;
	color: #868686;
	font-size: 12px;
	margin-right: 25px;
}

@media (min-width : 320px) and (max-width : 767px) {
	
	.result-row{
		padding: 0;
	}
	.search-btn-blue{
		margin-left: 0;
	}

	.search-parametrs{
		padding: 0;
	}

	.search-empty-block{
		display: none;
	}

	.results-par{
		font-size: 10px;
	}

	.results-number{
		font-size: 10px;
    	margin-right: 7px;
	}

	.first-result-card-phone{
		padding: 0 30px;
		margin-bottom: 20px;
	}

	.search-res-pag .nav-links .next{
		right: -50px;
	}

	.search-res-pag .nav-links .prev{
		left: -50px;
	}
	
	.result-cards-block-phone{
		padding: 0 15px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.result-row{
		padding: 0 15px;
	}
	.fullmapParametrs2{
		width: 110px;
	}
}