.set_paragraph
{
	content: '';
	    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    
    background-size: 100%;
    background-position: 50% 50%;
    
    margin: auto;
}

.info_google_place
{
	padding: 10px;

	p
	{
		font-size: 12px;

	    padding: 7px;
	    position: relative;
	    padding-left: 30px;

	    &.address_info
	    {
	    	padding-top: 0;
	    }	
	}

	.title_info:before
	{
		width: 23px;
    	height: 23px;

    	@extend .set_paragraph;

	    background: url(img/google-map/title.png) no-repeat;
	}

	.email_info:before
	{	
		width: 18px;
	    height: 14px;

		@extend .set_paragraph;

	    background: url(img/google-map/mail.png) no-repeat;
	}
	
	.phone_info:before
	{
		width: 20px;
	    height: 20px;

		@extend .set_paragraph;

	    background: url(img/google-map/phone.png) no-repeat;
	}
}