.header{
	min-height: 67px;

	backdrop-filter: blur(10px);
	background-color: #ffffff;
	border-bottom: solid 2px  #f0f0f0;
}

.main_phone_menu{
	display: none;
}

.headerNav {
	margin: 0 auto;
	text-align: center;
}
	
.headerNav-menu{
	display: inline-block;
	
	a{
		text-transform: uppercase;
	}
}

.headerNav-list{
	margin: auto;
	padding: 20px 8px;
	font-weight: bold;
	display: inline-block;

.headerNav-link{
	color: #000000;
	font-size: 14px;
	font-family: Roboto;
	font-weight: 700;
	

	&:hover{
		border-bottom: 5px solid #315efb;
		padding-bottom: 18px;
	}	
}

}

.selectize-control{
	margin: 0;
	max-width: 100%;
	.selectize-input{
		height: 43px;
		border-radius: 0;
		padding: 12px 160px 14px 20px;

		// &:focus{
		// 	border: 3px solid #315efb;
		// 	border-shadow: none;
		// 	padding: 10px 160px 9px 18px;
		// }

		// &:active{
		// 	border: 3px solid #315efb;
		// 	border-shadow: none;
		// 	padding: 9px 160px 11px 20px;
		// }
	}
}

.headsearch-label .selectize-control .input-active{
	border: 3px solid #315efb;
	padding: 9px 160px 11px 20px;
}
.dropdown-active{
	border: 3px solid #315efb !important;
	padding: 9px 160px 11px 20px;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single{
	border: 2px solid #f0f0f0;
	padding: 11px 160px 12px 20px;
	pointer: default;
}

.selectize-dropdown{
	z-index: 999;

}

.wr_header_menu_and_search{
	z-index: 1000;
}



.wr_header_menu_and_search
{
	max-height: 67px;
	height: 100%;
}




.header-submenu{
	position:relative;
}

.header-submenu:hover{
	.header-submenu-point{
		background-color:#444444;
	}
	&:active,&:hover{
		.submenu-list{
			display: inline-block;
			position:absolute;
			z-index: 999;
			top: 57px;
			left: 0px;
		}
	}	
}

.header-submenu-point{
	display: inline-block;
	border-radius: 90px;
	width: 7px;
	height: 7px;
	background-color: #e5e5e6;
	margin: 0 2px;
}


.submenu-list{
	text-align: left;
	display: none;
	width: 235px;
  	height: 345px;
	background-color: #ffffff;
	box-shadow: -2px 2px 10px 0 rgba(46, 49, 53, 0.19);
	padding:21px;
	img{
		padding-bottom: 25px;
	}

	li{
		display: block;
		margin: 4px 0;
		a{
			font-family: Roboto;
			font-size: 13px;
			font-weight: bold;
			line-height: 1.54;
			color: #0f0e0e;
			text-transform: uppercase;

			&:hover{
				color:#315efb;
			}
		}
	}

}

#btn_login_header{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.logedUserIcon{
	img{
	width: 21px;
	height: 21px;
	opacity: 0.8;
  	border: solid 1px #0f0e0e;
  	border-radius: 90px;
  	margin-bottom: 2px;
  	clear: both;
	}
}

.header-login-block{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-item: center;
	z-index: 999;
}
		
.headerMagnifLogo{
	display:inline-block;
	float: left;
	height: 28px;
	width: 28px;
	margin: 20px 0 0 15px;

}
.loginIcon{
		margin: 20px 30px 10px;
		
		width: 27px;
		height: 27px;
}

#nicknameUser{
	opacity: 0.4;
	font-family: Roboto;
	font-size: 12px;
	text-align: right;
	color: #0f0e0e;
}
.headerIconBlock{
	padding: 0;

	.headerLogo{
		display: inline-block;
		margin: 20px 0 0 5px;
	}
}

.reg-form{
	display:none;
	background-color: #ffffff;
  	box-shadow: -2px 2px 10px 0 rgba(46, 49, 53, 0.19);
	height: 475px;
	width: 306px;
	padding: 20px 26px 25px 20px;
	z-index: 999;
}

.reg-form-label{
	display: inline-block;
	font-family: Roboto;
  	font-size: 14px;
  	color: #262626;
}

.header-close-arrow{
	display: inline-block;
	
	width: 12px;
	height: 8px;

	position: absolute;
	top: 9px;
	right: 0;

	cursor: pointer;

	&:before
	{
		content: '';

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-image: url('img/arrow-icon.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
}

.reg-form-wrong-pass{
	font-family: Roboto;
	font-size: 14px;
	color: #ff564e;
	margin: 10px 0 16px;
}

.reg-form-margin-form{
	margin-top: 12px;
}

.reg-form-withparag{
	text-align: center;
	font-family: Roboto;
  	font-size: 12px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #b0b0b0;
}

.reg-form-socialBlock{
	margin-top:5px;
	display:flex;
	flex-direction: row;
	margin: 14px 0 16px;
	justify-content:center;

	.red-form-socialIcons{
		
		width:40px;
		height:40px;
		border-radius: 50%;
		border: solid 1px #e8e8e8;
		display: flex;
		margin: 0 8px;
			
			a{
				margin:auto;
			}
		}

}

.reg-form-btn{
	text-align: center;
	margin: 16px 0 27px;

	a{
		padding: 10px 22px 11px 24px;
	}
}

.reg-form-lastDiv{
	// padding-left: 43px;
	text-align: center;
}


.reg-form-bluePar{
	font-family: Roboto;
	font-size: 14px;
	text-align: center;
	color: #315efb;
}
.reg-form-bluePar1
{
	font-family: Roboto;
	font-size: 14px;
	text-align: center;
	color: #315efb;
	position: relative;

	&:before{
		content: url(img/rectangle-11-copy-8.png);
		position: absolute;
		left: -15px;
		top: 1px;
	}
}

.reg-form-bluePar2{
	font-family: Roboto;
	font-size: 14px;
	text-align: center;
	color: #315efb;
	position: relative;

	&:after{
		content: url(img/arrow-right.png);
		position: absolute;
		right: -15px;
		top: 1px;
	}
}


.registrFormsHovers{
	border: solid 1px #d8d8d8;
	&:hover{
		border: solid 1px #b0b0b0;
	}
	
}

.login-form{
	display:none;
	width: 306px;
  
	z-index: 998;
	background-color: #ffffff;
  	
  	padding: 20px 26px 25px 20px;
  	.reg-form-withparag{
  		margin-top: 30px;
  	}
}

.login-form-btn{
	padding: 10px 20px;
	margin-right: 50px;

	&:focus{
		border: double 1px #649dff;
		color: #ffffff;
		padding: 9px 19px;
			}
	&:hover{
		background-color: #234ae4;
		color: #ffffff;
	}
	&:active{
		background-color: #1039d6;
	}
}


.profile-form{
	display:none;
	width: 300px;
	height: 126px;
	background-color: #ffffff;
	box-shadow: -2px 2px 10px 0 rgba(46, 49, 53, 0.19);
	padding: 20px;
	z-index: 999;
}

.headerAvatar{
	border-radius:90px;
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
}
.profile-form-info{
	display:inline-block;
	text-align: left;
	width: 210px;

	position: relative;

	padding-left: 10px;
	margin-bottom: 27px;

	span{
		font-family: Roboto;
		font-size: 16px;
		line-height: 1.5;
		color: #315efb;

		padding-bottom: 5px;
	}
	img{
		float: right;
		margin-top: 5px;
	}
	p{
		font-family: Roboto;
		font-size: 14px;
		color: #b0b0b0;
	}


}

.profile-form-links{
	font-family: Roboto;
	font-size: 14px;
	color: #315efb;
	margin-right: 21px;
}
.profile-form-quit{
	font-family: Roboto;
	font-size: 14px;
	color: #b0b0b0;
	margin-left: 33px;
}


.settingIconSoc
{
	content: '';
	
	width: 20px;
  	height: 20px;
  	
  	border: solid 2px #ffffff;
  	border-radius: 90px;

  	position: absolute;
  	right: -4px;
  	bottom: -3px;
}

.avatar-icon-facebook{
	
  	display: inline-block;
  	float: left;
  	position: relative;
}

.fb-onAvatar
{
	&:before
	{
		@extend .settingIconSoc;

		background: url(./img/facebookIcon.png) #FFFFFF no-repeat 50%;
	}
}

.gl-onAvatar
{
	&:before
	{
		@extend .settingIconSoc;

		background: url(./img/new-google-favicon.png) #FFFFFF no-repeat 50%;	
	}
}

.tw-onAvatar
{
	&:before
	{
		@extend .settingIconSoc;

		background: url(./img/twitterIcon.png) #FFFFFF no-repeat 50%;	
	}
}

.profile-FBform-quit{
	font-family: Roboto;
  	font-size: 14px;
  	color: #b0b0b0;

	margin-left: -6px;
}


.header-search{
	display: flex;
	margin-top: 13px;
	max-width:900px;
	width: 100%;
	padding-left: 25px;
	display: none;
}

.advanced-search-href{
	font-family: Roboto;
		font-size: 11px;
		letter-spacing: 1px;
		text-align: left;
		font-weight: 400;
		color: #262626;
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 50px;
		z-index: 999;
		padding-right: 10px;
	
		background-color: #FFFFFF;
		text-transform: uppercase;

		&:hover{
			color: #315efb;
		}
}

#select-tools-selectized{
	cursor: default;
}

.headsearch-label{

	width: 100%;
	margin-bottom: 0;
	cursor: default;
	position: relative;
	height: 43px;
	
	&:after
	{
		content: url(img/cross-out.png);
		display: inline-block;
		width: 40px;
		height: 16px;
		
		position: absolute;
		right: 5px;
	    top: 13px;

		font-size: 12px;

		background-color: #FFF;
		
		z-index: 10000;
		
	    opacity: 1;
	}

	select{
		display: none;

		width: 100%;
		height: 100%;
		border: solid 2px #eaeaea;
		margin-bottom: 0;
		padding: 14px 0 14px 20px;

		font-family: Roboto;
		font-size: 14px;
		text-align: left;
		color: #262626;
		font-weight: 500;
		
		&:focus{
			border: solid 2px #315efb;
		}
		&:active{
			border: solid 2px #315efb;
		}
	}

	input
	{
		width: 100%;
		height: 100%;
		border: solid 2px #eaeaea;
		margin-bottom: 0;
		padding: 14px 0 14px 20px;

		font-family: Roboto;
		font-size: 14px;
		text-align: left;
		color: #262626;
		font-weight: 500;

		outline: none;
		
		&:focus{
			border: solid 2px #315efb;
		}
		&:active{
			border: solid 2px #315efb;
		}
	}

	.headsearch-res{
		width: 100%;
		min-height: 20px;
		padding: 22px 19px 14px;
		
		position: absolute;
		display: none;
	}
}

.disable_window
{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0,0,0,.5);

	z-index: 900;
}
label{
	.selectize-dropdown-content{
	max-height:195px;
	overflow: hidden;
	.option{
		font-family: Roboto;
	  	font-size: 13px;
	  	line-height: 2.14;
	  	color: #262626;
	  	font-weight: 400;
		.highlight{
			font-family: Roboto;
			font-size: 13px;
			line-height: 2.14;
			color: rgba(38, 38, 38, 0.3);
			font-weight: 400;
			background:none;
		}
	}
}
}


.user_menu
{
	position: absolute;
	right: 0;
	top: 58px;

	box-shadow: 0 0 10px 1px rgba(46, 49, 53, 0.19);

	z-index: 16;

	form
	{
		position: relative;

		margin-bottom: 25px;
	}
}


.error_message_auth
{
	position: absolute;

	font-size: 14px;
	color: #ff564e;
}

.success_message
{
	font-size: 14px;
	color: #24c324;	
}


.error_input
{
	border-bottom: 2px solid red;
}

.advance_param_search
{
    position: relative;
    top: -25px;
}

.header_phone{
	display: none;
}



@media (min-width:320px) and (max-width:767px) {

	.header{
		display: none;
	}

	.main_phone_menu{
		display: block;
	}

	.profile-form{
		display: none;
		width: 100%;
		left: 0;
		bottom: 60px;
		top: auto;
		z-index: 950;
	}

	.header_phone{
		display: block;
		height: 36px;
		background-color: #ffffff;
  		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
  		margin: 0;
  		position: relative;

  		z-index: 999;
	}
	.head_phone_menu{
		height: 100%;

		&:before{
			content: url(img/mobile-burger-button.png);
			display: inline-block;
			position: absolute;
			left: 25px;
			top: 5px;
			width: 10px;
			height: 14px;

		}
	}

	.header_phone_logo{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header_phone_search{
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.main_phone_menu{
		
		width: 80%;
		height: 100%;
		position: absolute;
		top: 0;
		left: -105%;
		background-color: #1a2539;
		padding-left: 18px;
		padding-top: 25px;
		z-index: 910;
		// &:after{
		// 	content: '';
		// 	display: inline-block;
		// 	background-image: url(./img/close-button.png);
		// 	width: 16px;
		// 	height: 16px;
		// 	position: absolute;
		// 	right: -25px;
		// 	top: 10px
		//  /img/mobile-search.png} 
	}

	.header_mobile_loupe{
		display: inline-block;
		width: 14px;
		height: 14px;
		background-image: url(img/mobile-search.png);
	}

	.close-mobile-menu{
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url(./img/close-button.png);
		position: absolute;
		top: 10px;
		right: -30px;
	}


	.login_phone_block{
		width: 100%;
		height: 60px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1000;
		background-color: #ffffff;
	}

	
	.phone_login_block_arrow{
		display: inline-block;
		width: 12px;
		height: 8px;
		background-image: url(./img/arrow-icon.png);
		position: absolute;
		right: 12px;
		top: 20px
	}


	// .user_menu{
	// 	buttom: 60px;
	// 	top: auto;
	// }
	.avatar_phone_block{
		padding-left: 15px;
		img{
			width: 21px;
			height: 21px;
			opacity: 0.8;
		  	border: solid 1px #0f0e0e;
		  	border-radius: 90px;
		  	margin-bottom: -7px;
		  	margin-top: 8px;
		  	clear: both;
		}
		span{
			line-height: 0.8;
		}

		
	}
	.phone_navigation{
		.mobile-nav-list{
			
			display: block;

			.headerNav-link-mobile{
				color: #ffffff;
				font-family: Roboto;
				font-size: 14px;
				line-height: 2.29;
				
				text-transform: uppercase;
			}
		}
	}
	.submenu_phone{
		li{
			opacity: 0.7;
			font-family: Roboto;
			font-size: 14px;
			line-height: 2;
			text-align: left;
			color: #ffffff;
			display: block;
		}
	}

	.container_header_search_mobile{
		display: none;
		// position: absolute;
		// padding-left: 0;
		// z-index: 10;
		// width: 100%;
		// margin-top: 0;
		// z-index: -1;

		form
		{
			position: static;
		}

		.headsearch-label
		{
			position: static;

			input, select
			{
				outline: none;
				border-width: 0;
				border: none;

				&:active, &:focus
				{
					border: none;
				}	
			}

			.selectize-control
			{
				height: 100%;
				position: static;

				.selectize-input
				{
					height: 100%;

					border: none !important;
					outline: none;

					padding: 0;

					.item
					{
						width: 100%;
					    height: 100%;

					    font-size: 14px;
			    
					    padding: 8px 0 8px 20px;
					}

					input
					{
						width: 100% !important;
						height: 36px;
					    
					    font-size: 14px;
    					
    					padding-left: 20px !important;

					    &:active, &:focus
						{
							border: none;
						}
					}
				}

				.selectize-dropdown
				{
					width: 100% !important;
					position: absolute;
					left: 0 !important;

					padding-left: 80px;
					padding-right: 10px;
				}
			}
		}
	}


	

	// .header_phone .selectize-dropdown-content{
	// 	height: auto;
	// }


	.headsearch-label{
		height: 36px;
		&:after{
			display: none;
		}
	}
	.headsearch-label .selectize-control .selectize-input{
		height: 37px;
		padding: 8px 60px 10px 40px;
	}

	.close_search_mobile{
		display: inline-block;
		position: absolute;
		width: 16px;
		height: 16px;
		background: url(./img/close-button.png);
		top: 10px;
	    right: 20px;
	    z-index: 11;
	}

	.search_mobile_btn{
		display: inline-block;
		position: absolute;
		width: 16px;
		height: 16px;
		background: url(img/mobile-search.png);
		background-repeat: no-repeat;
		top: 10px;
		left: 15px;
		z-index: 11;
	}

	.reg-form{
		width: 100%;
		top: auto;
		left: 0;
		bottom: 60px;
	}



	.login-form{
		display:none;
	  
		z-index: 998;
		background-color: #ffffff;

		top: auto;
		bottom: 60px;
		width: 100%;
		left: 0;
	  	
	  	padding: 20px 26px 25px 20px;
	  	.reg-form-withparag{
	  		margin-top: 30px;
	  	}
	}
	
	.login_phone_icon{
		margin-top: 10px;
		margin-left: 15px;
	}

	.login-form-btn{
		margin-right: 40px;
	}

}

@media (min-width : 768px) and (max-width : 1024px) {
	.headerNav-list{
		padding: 20px 7px;
	}

	.headerMagnifLogo{
		margin-left: 5%;
	}


	.header-submenu:hover:active .submenu-list, .header-submenu:hover:hover .submenu-list{
		left: -170px;
		img{
			float: right;
		}
	}

	.headerLogo{
		width: 100px;
	}

	.headerNav-link
	{
		font-size: 13px;
		&:hover
		{
			border-bottom: 5px solid #315efb;
			padding-bottom: 15px;
		}

	}


	.border-card-num
	{
		font-size: 50px;
	}

	.paragraf
	{
		font-size: 0.8em;
	}



}