$nobelF:            #9f9f9f;
$nobelB:            #9b9b9b;
$white:             #ffffff;
$whisperE:          #eeeeee;
$regentGreyMain:    #838d8f;
$whisper7:          #e7e7e7;
$submarine:         #959ea0;
$vulcan:            #3c3d41;
$iron:              #c4d0d1;
$charcoal:          #4a4a4a;
$black:             #000000;


.messages
{
    display: flex;
    justify-content: center;

    text-align: center;

    border-bottom: none;

    margin-bottom: 20px;

    li
    {
        a
        {
            font-family: 'PT Sans', serif; 
            font-weight: 700;
            color: $nobelF;
            letter-spacing: 2px;
            text-transform: uppercase;  font-size: 10px;

            border-radius: 40px;

            padding: 5px 15px;
            margin: 0 8px;

            @media (max-width: 767px)
            {
                letter-spacing: 1px;

                margin: 0;
                padding: 5px 7px;
            }
        } 

        &.active
        {
            a
            {
                position: relative;

                color: $white;

                background: $regentGreyMain;

                &:before
                {
                    content: '';
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                   
                    width: 0;
                    height: 0;

                    border-style: solid;
                    border-width: 0 7.5px 9px 7.5px;
                    border-color: transparent transparent $whisperE transparent;

                    transform: translateX(-50%);
                }
            }   
        } 
    }
}

.tab-content
{
    background: $whisperE;
    border-radius: 4px;
    margin-bottom: 14px;
}

.message
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $whisper7;

    padding: 14px 20px 14px 7px;

    .img
    {
        width: 50px;
        height: 50px;
        
        border-radius: 100%;
        background-size: cover;
        background-position: center center;

        @media (max-width: 767px)
        {
            vertical-align: top;
        }
    }

    .text
    {
        width: 85%;

        p
        {
            margin-bottom: 5px;

            &.message-text
            {
                font-size: 16px;
                font-family: 'PTSerifRegular';
                color: $submarine;
             
                white-space: nowrap;
             
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        span
        {
            &.name
            {
                font-size: 10px;
                font-family: 'montserrat_bold';
                line-height: 18px;
                letter-spacing: 2px;
                color: $vulcan;
             
                margin-right: 9px;
            }

            &.time
            {
                font-size: 12px;
                font-family: 'PTSerifItalic';
                line-height: 18px;
                color: $regentGreyMain;

                &:before
                {
                    font-size: 11px;
                    font-style: normal;
                    color: $iron;

                    vertical-align: 0px;

                    margin-right: 9px;
                }
            }

            @media (max-width: 767px)
            {
                display: block;
            }
        }

        @media (max-width: 767px)
        {
            width: 65%;
        }
    }

    .checkbox
    {
        @media (max-width: 767px)
        {
            vertical-align: top;
        }
    }

    &>*
    {
        @media (max-width: 767px)
        {
            display: inline-block;
        }
    }

    @media (max-width: 767px)
    {
        display: block;

        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 7px;
    }
}

.header_message
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $whisper7;

    padding: 15px;

    .left_arrow
    {
        font-size: 28px;

        padding: 8px;
    }

    .man
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .img
        {
            width: 50px;
            height: 50px;
         
            border-radius: 100%;
            background-size: cover;
            background-position: center center;
         
            margin: 0 10px 0 18px;

            @media (max-width: 767px)
            {
                margin-left: 10px;
            }
        }

        .text
        {
            p
            {
                margin-bottom: 5px;

                &.message-text
                {
                    font-size: 16px;
                    font-family: 'PTSerifRegular';
                    color: $submarine;

                    white-space: nowrap;

                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            span
            {
                &.name
                {
                    font-size: 10px;
                    font-family: 'montserrat_bold';
                    line-height: 18px;
                    letter-spacing: 2px;
                    color: $vulcan;
                    
                    margin-right: 9px;
                }

                &.time
                {
                    font-size: 12px;
                    line-height: 18px;
                    font-family: 'PTSerifItalic';
                    color: $regentGreyMain;

                    &:before
                    {
                        font-size: 11px;
                        font-style: normal;
                        color: $iron;
                        
                        vertical-align: 0px;

                        margin-right: 9px;
                    }
                }
            }
        }
    }

    .group-btn
    {
        float: right;

        a
        {
            display: table;

            font-size: 10px;
            font-family: 'PTSansBold';
            letter-spacing: 2px;
            color: $nobelB;
            
            margin-bottom: 5px;
        }
    }
}


.body_message
{
    padding: 15px;
    font-size: 14px;
    color: $charcoal;

    p
    {
        font-weight: normal;

        margin-bottom: 20px;

        &.title
        {
            font-size: 16px;
            font-weight: normal;
            color: $black;

            margin-bottom: 20px;
        }

        @media (max-width: 767px)
        {
            font-size: 14px;
        }
    }
}
