.modal_window
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    overflow-y: auto;

    background: rgba(0,0,0,0.9);

    z-index: 999999;

}

div .pgwSlideshow{
    max-width: 70%;

    display: block;
    height: 80%;
    margin: 0 auto;

    .ps-list{
        background-color: transparent;
        border-top: none;
        box-shadow: none;
        margin-top: 8px;
    }
}


.modal-wind-count{
    display: inline-block;
    height: 100px;
    width: 15%;
    padding: 35px 0 0 5px;

    span{
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.29;
        color: #ffffff;

        margin-left: 7px;
    }
}



div.pgwSlideshow{
    
    background: none;
    position: relative;
    max-width: 70%;

    .ps-current ul li img
    {
       
    display: block;
    width: auto;
    /* max-width: 100%; */
    /* max-width: 100%; */
    width: 100%;
    /* height: 100%; */
    height: auto;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    }
    ul li{
       margin: 0 auto;
       
    }

    .ps-current{
       
        height: 100% !important;
        background-color: #000;
        margin: 0px auto;
        width: 100%;
    }
    .ps-list{
        background-color: transparent;
        border-top: none;
        box-shadow: none;
        margin-top: 8px;
        max-width: 80%;
        width: 100%;

        position: absolute;
        right: 0;
    }
    .ps-selected{
        margin: 0;
        border: none;
    }
    .ps-item{
        margin: 0;
        img{
            width: 100px;
            height: 67px;
        }
    }

}
div .pgwSlideshow .ps-list li .ps-item{
    margin: 0;
    img{
        width: 100px;
        height: 67px;
        border: none;
    }
}

.modal-window-wrapper{
    max-width: 70%;
    height: 90vh;
    margin: 100px auto 0;
    position: relative;
}



.modal-window-wrapper .pgwSlideshow .ps-list .ps-prev{
    border: none;
    width: 50px;
    height: 67px;
    border-radius:0;
    top: 0 !important;
    background-image:url(./img/rectangle-8-copy-10.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    span{
        display: none;
    }
}

.modal-window-wrapper .pgwSlideshow .ps-list .ps-next{
    border: none !important;
    width: 50px;
    height: 67px;
    border-radius:0;
    top: 0 !important;
    background-image:url(./img/rectangle-8-copy-11.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    span{
        display: none;
    }
}

.modal-window-wrapper .pgwSlideshow .ps-current .ps-prev{
    width: 40px;
    height: 80px;
    border: none;
    border-radius:0;
    background: rgba(37, 37, 37, 0.7);
    background-image:url(./img/back.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 66;
    span{
        display: none;
    }
}
.modal-window-wrapper .pgwSlideshow .ps-current .ps-next{
    width: 40px;
    height: 80px;
    border: none;
    border-radius:0;
    background: rgba(37, 37, 37, 0.7);
    background-image:url(./img/next.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 66;
    span{
        display: none;
    }
}

div .pgwSlideshow .ps-current{
    overflow: visible;
}
div.pgwSlideshow .ps-caption{
    height: 70px;
    top: -70px;
    bottom: auto;
    background-color: #000;
    opacity: 1;
    padding: 0 5px 2px 0;
    b{
         font-size: 24px;
          font-weight: 300;
          text-align: left;
          color: #ffffff;
    }
}

.modal-window-count{
    position: absolute;
    left: 15%;
    bottom: 13%;
    span{
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.29;
        color: #ffffff;
        margin-left: 7px;
    }
}

.modal-close-icon{
    position: absolute;
    background-image: url(img/cancel-music.png);
    right: 15%;
    top: - 80px;
    width: 13px;
    height: 13px;
    background-size: 100%;
    opacity: 0.8;
    z-index: 10;
}

