.firstRestContainer
{
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 30px;

	&+div
	{
		padding-right: 30px;

		&:first-child
		{
			padding-left: 0;
		}
	}
}
.restFluid{
	position: relative;
}

.rest-backgroundimage{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:#f0f0f0;
	height: 630px;
	width: 100%;

	&:before{
		content: '';
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		opacity: 0.2
	}
}

.place-properties{
	display: flex;
	flex-wrap: wrap;

	div{
		width: 50%;
			
		margin-top: 25px;
	
		display: inline-flex;
		padding-left: 30px;
		align-items: center;
	
	}
	
	.restCharacters{
	position: relative;
	
	
	
	&:before{
		content: '';
		position: absolute;
		background: url(img/add-svg-png/check.png) no-repeat;
		left: -27px;
		bottom:0px;
		right: auto;
		    width: 24px;
		        top: 0;
		        height: 24px;
		        margin: auto;
	}

	}
}

.restDescription{
	padding-right: 15px;

}

.restProperties{
	background: #ffffff;
	box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.04);
  	border: solid 1px #e5e5e6;

  	margin-bottom: 30px;
}

.placecard-lockIcon{
	float: left;
	&:before{
		content: url(img/lock-off.png);	
	}
}

.placecard-openIcon{
	float: left;
	&:before{
		content: url(img/lock.png);
	}
}

.openNowBlock{
	margin-top: 25px;
}

.openNowPar{
		display: inline-block;
		font-family: Roboto;
	  	font-size: 11px;
	  	letter-spacing: 1px;
	  	text-align: left;
	  	color: #e5e5e6;
	  	text-transform: uppercase;
}
.restH1{
	  font-family: Roboto;
	  font-size: 36px;
	  font-weight: bold;
	  
	  color: #ffffff;

	  margin: 30px 0 40px 0;
}

.single-grey-star{
	vertical-align: middle;
	background: url(img/star-non.png);
	vertical-align: middle;
	margin-right:3px;
}

.single-gold-star{
	vertical-align: middle;
	background: url(img/add-svg-png/star.png);
	vertical-align: middle;
	margin-right:3px;
	
}
.single-blue-star{
	background: url(img/star-hover.png);
	vertical-align: middle;
	margin-right:3px;
}

.restRatinP1{
	margin-left: 5px;
	font-family: Roboto;
  	font-size: 11px;
  	letter-spacing: 1px;
  	text-align: left;
  	color: #e5e5e6;
}


.restRatinP2{
	display:inline-block;
	font-family: Roboto;
  	font-size: 24px;
  	font-weight: 900;
  	color: #ffffff;
  	margin-left: 10px;
}

.rest-maininfoblock{
	position: relative;
	height: 630px;
}

.kitchenNameBlock{
	left: 30px;
	bottom: 30px;
	position: absolute;
	margin-bottom: 50px;
	
}

.kitchenNamePar{
	display:inline-block;

	opacity: 0.4;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	color: #ffffff;
	padding: 9px 11px; 
	margin-right: 14px;

	&:hover{
		padding: 8px 10px;
		border-radius: 40px;
		background-color: #ffffff;
		border: solid 1px #d1d9fc;
		opacity: 1;
	  	color: #0f0e0e;
	}
	  
}

.breadcrumbs{
	span{

	font-family: Roboto;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #444444;
	}
}

.current-day{
	font-family: Roboto;
  font-size: 12px;
  color: #262626;
  font-size: 600;
  line-height: 1.5;
}

.restTextBlock{
	margin-top: 25px;

	p{
		font-family: Roboto;
		font-size: 17px;
		font-weight: 300;
		line-height: 1.53;
		text-align: left;
		color: #000000;
	}
}

.rest-twitter-icon{
	height: 20px;
	width: 21px;
	border-radius: 6px;
}

.restTable_properties_font{
		opacity: 0.6;
		font-family: Roboto;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.2px;
		color: #a09f9f
}

.rest_properties_font{
		opacity: 0.6;
		font-family: Roboto;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.2px;
		color: #000000;
		margin-bottom: 7px;
}


.restPropertiesDiv1{
	padding-top:20px;
	border-bottom: solid 1px #e5e5e6;
	div{
		margin-bottom:8px;
		p{	
		display: inline-block;
		}
		img{
			margin-right: 10px;
		}
	}

	a{
		img{
			margin-top: 8px;
			margin-right: 20px;
		}
	}

}

.restMiddleBill{
	margin: 30px 0 20px 0;
}

.restPropertiesDiv2{
	padding: 16px 0 25px 0;
	border-bottom: solid 1px #e5e5e6;
}

.restWorkTimeTab{
			margin-left: 17px;
		tr{
			line-height: 1.4;
			}		

		.restDayWork{
		margin: 0 40px 0 60px;
		width: 90px;

		text-align: center;
	}

}

.restPropertiesDiv3{
	margin: 20px 0 15px 0;
}

.addresPointerImg{
	margin-left: 10px;
}
.restAddresPar1{
	margin-left: 7px;
	&:hover{
		cursor: pointer;
		color: #315efb;
	}
}

.restPropertiesDiv4{
	margin: 0 -15px 0 -15px;
}

.restPropertiesDiv5{
	margin-bottom: 25px;

}



.restTextSlider{
	height: 150px;
	background-color: blue;
	margin: 20px 0;
	width:100%;
}

 .restBtnSclBlock{
	text-align: center;
	margin: 30px 0;
 	a{
 		display: inline-block;
 	}
 }

.restSocialBtn{
	display: inline-block;
	padding: 11px 54px;
	


	span{
		padding-left: 5px;
	}
}

.fbBtnBlock{
	padding: 11px 59px 10px 59px;
	background-color:#4763a1;

	&:hover{
		background-color:#4763a1;
	}
	&:focus{
	padding: 10px 58px 9px 58px;
	}

}

.ggggggg{
	width:166px;
	height: 36px;
}

.TwBtnBlock{
	background-color: #5d9ec9;
	margin-left: 23px;
	&:hover{
		background-color: #5d9ec9;
	}
	&:focus{
	padding: 10px 53px 10px 53px;
	}
}

.restParagrafHead-first{
	margin: 20px 0;
	
	p{
		margin-bottom: 20px;
		margin-top: 20px;
		max-width: 340px;
	}
	

	div{
		border-bottom: solid 1px #e5e5e6;
	}
}

.restParagrafHead-sec{
	margin: 50px 0 20px;
	p{
		margin-bottom: 20px;
		max-width: 340px;
	}
	

	div{
		border-bottom: solid 1px #e5e5e6;
	}
}


.restParagrafHead-third{
	margin-bottom: 16px;
	p{
		margin-bottom: 20px;
	}
	

	div{
		border-bottom: solid 1px #e5e5e6;
	}
}

.restParagrafHead{
	margin: 20px 0;
	
	padding-bottom: 15px;
}

.wr_comment
{
	margin-left:  -15px;

}

.restRewiewBlock{
	padding: 0 30px;
	
}

.leaveCommentForm{
	border-bottom: solid 1px #e7e7e7;
}

.leaveCommentParagraf{
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.22;
	text-align: left;
	color: #262626;

	margin: 26px 0;
}

.restRewiewTextArea{
	border-radius: 1px;
  	background-color: #ffffff;
  	border: solid 1px #e7e7e7;
  	    display: block;
    width: 100%;

}

.restRewiewTextAreaDescript{
	text-align:right;
	margin: 5px 0;
	
		span{
			 opacity: 0.5;
			 font-family: Roboto;
			 font-size: 12px;
			 color: #262626;
		}
}

.restSendCommBtn{
	padding: 10px 36px;

	&:focus{
			border: double 1px #649dff;
			color: #ffffff;
			padding: 9px 35px;
			}
	&:hover{
			background-color: #234ae4;
			color: #ffffff;
			}
	&:active{
			background-color: #1039d6;
	}
}

.restAddFotoForm{
	display:inline-block;
}

.inputfileRest{

	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}



.inputfileRest + label {

    font-weight: 500;
	color: #262626;
	font-family: Roboto;
  	font-size: 12px;
	border: solid 1px #d8d8d8;
    display: inline-block;
    width: 177px;
   
    padding: 9px 30px 9px 19px;
}

.inputfileRest:focus + label,
.inputfileRest + label:hover {
  
}

.rest-addfoto-btn{
	position: relative;
	&:after{
		content: '';
		background-image: url(img/add-svg-png/plus-symbol.png);
		background-repeat: no-repeat;
		width: 15px;
		height: 15px;
		position: absolute;
		right: 32px;
		top: 8px;

	}
}


.restCommentBlock{
	margin: 15px 0;
}

.restMemberAvatar{
	border-radius: 50%;
	margin-top: 5px;
	width: 40px;
	hieght: 40px;
}

.restCommBody{
	padding-left:15px;
}

.restRewNickname{
	display:inline-block;
	font-family: Roboto;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 1.57;
  	color: #262626;
}

.restCommDate{
	display:inline-block;
	padding-left: 5px;

	font-family: Roboto;
  	font-size: 11px;
  	letter-spacing: 1px;
  	color: #a2a2a2;
  	text-transform: uppercase;
}


@mixin commentRaing($color){
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	color: $color;
	padding: 0 5px;
	width: 30px;
	position: absolute;
	top: 6px;
    left: 19px;

}

.minus_vote_rating{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-image: url(img/minus-square.png);
	background-repeat: no-repeat;
	opacity: 0.4;
	position: absolute;
    left: 4px;
    top: 5px;
    cursor: pointer;

}

.plus_vote_rating{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-image: url(img/plus-24.png);
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.4;
	cursor: pointer;
	position: absolute;
    top: 8px;
    right: 0;
}

.restCommRating{
	display:inline-block;
	float: right;
	position: relative;
	width: 60px;
	.ratingNull{
		@include commentRaing(#000);
		
	}

	.positiveRating{
		@include commentRaing(#5eca61);
		
	}
	.negativeRating{
		@include commentRaing(#dc4f4f);
	}
}

.restCommText{
	margin: 10px 0;
	p{
		font-family: Roboto;
	  	font-size: 14px;
	  	line-height: 1.43;
	  	color: #262626;
	}

}


.restCommStatus{
	span{
		font-family: Roboto;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #196bfa;
		cursor: pointer;
	}
	p{	
		display: inline-block;
		padding: 6px;
		background-color: #f3f3f3;
		opacity: 0.4;
	  	font-family: Roboto;
	  	font-size: 11px;
	  	letter-spacing: 1px;
	  	color: #262626;
	}
}

.restCommDeleted{
	text-align: center;
	vertical-align: center;
	padding: 8px 0 10px;
	background: #f3f3f3;
	span{
		font-family: Roboto;
		font-size: 11px;
		letter-spacing: 1px;
		color: #a2a2a2;
	}
}

.secondRestContainer{
	
	padding-top: 26px;
	padding-left: 30px;
	padding-right: 30px;
}
.restAddPlaceBanner{

	height: 240px;
	background-image: url(./img/Bitmap.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 21px;
}


.restSimilarPlaces{
	margin-top: 50px;
}


.restAddPlaceBanner{
	text-align: center;

	.restAddPlaceBannerHead{
			
		margin: 40px 0 20px 0;

		text-align: center;
		font-family: Roboto;
		font-size: 24px;
		font-weight: 900;
		color: #ffffff;

	}

	.restAddPlaceBannerPar
	{
		max-width: 355px;
		width: 100%;

		font-family: Roboto;
		font-size: 13px;
		line-height: 1.54;
		letter-spacing: 0.2px;
		text-align: center;
		color: #ffffff;

		margin: 0 auto 30px;
	}

	.restAddPlaceBannerBtn{

		padding: 10px 30px;
		
		font-family: Roboto;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.8px;
		color: #ffffff;
		&:hover{
			background-color: #315efb;
			padding: 12px 31px 11px 31px;
		}
	}	
}



.rest-reviewblock{
	height: 552px;
	position: relative;


	.ind-review-btn{
		position: absolute;
		left: 15px;
		bottom: 15px;

	}
	.last-reviews-head{

	    font-size: 16px;
	}

}

.restAddPlaceBanner-row{
	margin-top: 25px;
}

.restAddPlaceBanner-block{
	padding: 0 30px;
}

.rest-backgroundimage{
	background-repeat: no-repeat;
	background-size: 100%;
}

 

@media (min-width : 320px) and (max-width : 767px) {

	.restRewiewBlock{
		padding: 0;
	}

	.restProperties{
		margin-top: 20px;
	}

	.restCommRating{
		display: none;
	}
	.comment_avatar_block{
		padding-right: 3px;
	}

	.restBtnSclBlock{
		display: flex;
	}

	.restCard1{
		a{
			display: block;
		    margin: 0 auto;
		    width: 300px;
		}
	}
	.rest-addfoto-btn{
		float: right;
		
	}
	.inputfileRest + label{
		width: 153px;
		&:after{
			right: 10px;
		}
	}

	.restAddPlaceBanner-row{
		padding-left: -45px;
		padding-right: -45px;
	}
	
	.rest-adwert-banner{
		display: none;
	}
	
	.restAddPlaceBanner-block{
		padding: 0;
	}

	.rest-backgroundimage{
		background-size: cover;
    	background-position: 50%;
	}

	.rest-reviewblock{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media (min-width : 768px) and (max-width : 1024px) {
	.inputfileRest + label{
		width: 153px;
		&:after{
			right: 10px;
		}
	}
	.rest-reviewblock {
		.ctguide-lastrew-cont {
			width: 195px;
		}	
	}
}	

.map_place
{
	height: 300px;
}