@import "includes/settings";
@import "includes/buttons.scss";
@import "fonts.scss";

// Header 
@import "header.scss";
// Footer
@import "footer.scss";

@import "catalog_card.scss";
@import "add_place_styles.scss";
@import "feedback_styles.scss";
@import "cards_styles.scss";
@import "full_map_styles.scss";
@import "restarant_card_styles.scss";
@import "city_guide_styles.scss";
@import "category_places_filter.scss";
@import "404_page_styles.scss";
@import "item_simple_styles.scss";
@import "full_search_styles.scss";
@import "search_results_styles.scss";
@import "item_full_styles.scss";
@import "category_dest_styles.scss";
@import "sliders_styles.scss";
@import "checkboxes_styles.scss";
@import "messages.scss";
@import "modal_window.scss";
@import "google_map.scss";

body {
	background-color:#f0f0f0;
	font-size: 100%;
}

hr
{
	border-top: 1px solid #dfe4ec;

	margin-left: 15px;
	margin-right: 15px;
}



.container-fluid {
	max-width: 1000px;
	width: 100%;
	background-color: #ffffff;
	
}



.carousel-inner .item .ind-slide-img{
	height: 456px;
	margin: 0 auto;
	
}

.carousel-inner .item .ind-slide-three-img{
	height: 240px;
	margin: 0 auto;
}


   

.indcar-capt1{
	top: 30%;
}


.typeBlock1{

	.paragraf1{
		max-width:100%;
	}
	.blockPictureDate{
		max-width: 620px;
		width: 100%;
		max-height: 335px;
		height: 100%;
		position: relative;

	}

	img{
		    
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
	&:hover{
		p{
			color: #315efb;
		}
		.blockPictureDate{
			position: relative;
			
			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: #000;
				z-index: 10;
				opacity: 0.4;
			}

		.shadow_card{
			visibility: visible;
			width: 100%;
		    height: 100%;
		    position: absolute;
		    
		   	z-index: 11;
		    display: flex;
		    justify-content: center;
		   	align-items: center;

		    .blockHiddenDate{
		    	display: block;
		    	position: absolute;
		    	z-index: 10;
		    	font-family: Roboto;
				font-size: 13px;
				color: #ffffff;
				
		    }
		}

		img{
		    
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
		}	
	}
}


.triple_card_category{
	.paragraf1{
		max-width:100%;
	}
	.blockPictureDate{
		max-width: 940px;
		width: 100%;
		max-height: 335px;
		height: 100%;
		position: relative;

	}

	img{
		    max-height: 335px;
		    max-width: 940px;
		    //position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
	&:hover{
		p{
			color: #315efb;
		}
		.blockPictureDate{
			position: relative;
			
			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: #000;
				z-index: 10;
				opacity: 0.4;
			}

		.shadow_card{
			visibility: visible;
			width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		   	z-index: 50;
		    display: flex;
		    justify-content: center;
		   	align-items: center;

		    .blockHiddenDate{
		    	display: block;
		    	position: absolute;
		    	z-index: 150;
		    	font-family: Roboto;
				font-size: 13px;
				color: #ffffff;
				
		    }
		}

		// img{
		    
		//     //position: absolute;
		//     max-height: 335px;
		//     max-width: 620px;
		//     top: 0;
		//     bottom: 0;
		//     left: 0;
		//     right: 0;
		//     margin: auto;
		// }
		}	
	}
}

.double_card_post{
	.paragraf1{
		max-width:100%;
	}
	.blockPictureDate{
		max-width: 620px;
		width: 100%;
		max-height: 335px;
		height: 100%;
		position: relative;

	}

	img{
		    max-height: 335px;
		    max-width: 620px;
		    //position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
	&:hover{
		p{
			color: #315efb;
		}
		.blockPictureDate{
			position: relative;
			
			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: #000;
				z-index: 10;
				opacity: 0.4;
			}

		.shadow_card{
			visibility: visible;
			width: 100%;
		    height: 100%;
		    position: absolute;
		    
		   	z-index: 11;
		    display: flex;
		    justify-content: center;
		   	align-items: center;

		    .blockHiddenDate{
		    	display: block;
		    	position: absolute;
		    	z-index: 10;
		    	font-family: Roboto;
				font-size: 13px;
				color: #ffffff;
				
		    }
		}

		img{
		    
		    //position: absolute;
		    max-height: 335px;
		    max-width: 620px;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
		}	
	}
}

.typeBlock3{
	.paragraf1{
		max-width:100%;
	}
	.blockPictureDate{
		max-width: 400px;
		width: 100%;
		max-height: 215px;
		height: 100%;
		position: relative;

	}

	img{
		    
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
	&:hover{
		p{
			color: #315efb;
		}
		.blockPictureDate{
			position: relative;
			
			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: #000;
				z-index: 10;
				opacity: 0.4;
			}

		.shadow_card{
			visibility: visible;
			width: 100%;
		    height: 100%;
		    position: absolute;
		    
		   	z-index: 11;
		    display: flex;
		    justify-content: center;
		   	align-items: center;

		    .blockHiddenDate{
		    	display: block;
		    	position: absolute;
		    	z-index: 10;
		    	font-family: Roboto;
				font-size: 13px;
				color: #ffffff;
				
		    }
		}

		img{
		   
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
		}	
	}
}

.typeBlock4{
	margin-top: 20px;
	.paragraf1{
		max-width:100%;
	}
	.blockPictureDate{
		max-width: 190px;
		width: 100%;
		max-height: 215px;
		height: 100%;
		position: relative;

	}

	img{
		    
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
	&:hover{
		p{
			color: #315efb;
		}
		.blockPictureDate{
			position: relative;
			
			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: #000;
				z-index: 10;
				opacity: 0.4;
			}

		.shadow_card{
			visibility: visible;
			width: 100%;
		    height: 100%;
		    position: absolute;
		    
		   	z-index: 11;
		    display: flex;
		    justify-content: center;
		   	align-items: center;

		    .blockHiddenDate{
		    	display: block;
		    	position: absolute;
		    	z-index: 10;
		    	font-family: Roboto;
				font-size: 11px;
				color: #ffffff;
		    }
		}

		img{
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
		}	
	}
}


.mainpage-card-triple{
	max-width: 620px;
	width: 100%;
	height: 460px;
	.blockPictureDate{
		overflow: hidden;
		img{
		max-width: 620px;
		max-height: 335px;
	}
	}

	
}

.main-review-card-small{
	width: 100%;
	height: 330px;
	position: relative;

	.blockPictureDate{
		position: absolute;
		bottom: 10px;
		left: 5%;
		max-width: 89%;

		img{
			margin: 0 auto;
			width: 100%;
			max-height: 129px;
		}
	}
}

.typeBlock2{

	&:hover{
			p{
				color: #315efb;
			}
	}
}

.item-breadCrumbs{
	span{
		color:#444;
	}
}
.blueBorderBlock{
	border: solid 10px #315efb;
	padding: 5px;
}
.main-card-double{
	max-width: 400px;
	width: 100%;
	height: 330px;

	img{
	max-width: 400px;
	max-height: 215px;
	}
}


.main-card-single{
	max-width: 190px;
	width: 100%;
	height: 330px;
	padding: 0;
	margin-right: 13px;

	img{
	max-height: 215px;
	}

	figcaption{
		max-height: 140px;
		text-overflow: ellipsis;
		overflow: hidden;
		p{
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}


.contentDiv1{
	padding: 0 15px;
}

.blockMargin{
	margin-top:20px;
	margin-bottom:20px;
}

.moreNewsblocks{
	margin-bottom: 20px;
}

.paragraf {

	font-family: Roboto;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #000000;
	max-height: 80px;
	//max-width: 290px;
	overflow: hidden;
}
.paragraf1 {

	font-family: Roboto;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #000000;
	max-height: 80px;
	max-width: 500px;
	overflow: hidden;
}

.paragraf2{
	font-family: Roboto;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #000000;
	max-height: 150px;
	max-width: 500px;
	overflow: hidden;
	z-index: 10;
}


.border-card-par{
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	color: #000000;
	margin-bottom: 20px;
	margin-top: 10px;

}

.border-card-num {

	font-family: Helvetica;
	font-size: 90px;
	font-weight: 600;
	line-height: 1;

	
	text-align: center;
	color: #000000;
}


.contentDiv3{
	background-color: #f8f8f8;
	padding: 0 -15px;
}


.catalogMainHead {

	display: flex;
	justify-content: center;
	


}

.contentDiv4{
	padding: 0 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.blueBorder-blockImg
{
	position:relative;
	height: 250px;

	.blueBorderImg
	{
		display: inline-block;
	    
	    max-width: 430px;
	    width: 100%;
	    max-height: 250px;

	    position: absolute;
	    right: 0;
	    left: auto;
	    top: 0;
	    bottom: 0;
	    
	    margin: auto;
	}
}



.blueBorder:before{
	content:"";
	display: block;
	border: solid 10px #315efb;
	width: 93%;
	height: 111%;
	position: absolute;
	margin: 25px 0 0 0;
	z-index: 999;
}

.borderDescription{
	position:absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	margin:130px 0;
	// padding: 0 300px 0 20px;
	padding-right: 30%;
	padding-left:20px;
	z-index: 10;
}

.imgBorder{
	float: right;
}

.divWithBlueBorder:before{
	content:"";
	display: block;
	border: solid 10px #315efb;
	width: 72%;
	height: 85%;
	position: absolute;
	top:30px;
    right: 47px;
}

.contDiv6-cardblock{
	margin-top: 26px;
}

.mainReview{
	margin-left: 40px;
	max-width: 550px;
}

.reviews{
	border: solid 1px #e5e5e6;
	padding: 18px;

}

.ind-rewTime{
	font-family: Roboto;
	font-size: 11px;
	color: rgba(38, 38, 38, 0.4);
	margin-top: 20px;
}


.ind-rewheadBlock{
	font-family: Roboto;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 1.29;
  	color: #262626;
  	margin: 5px 0;
}
.reviewHeadParag{
	margin-bottom: 5px;
}



.reviewBlocks{

	display: inline-block;
	
	.cityGuidesRewiewBlocks{
		border-bottom: solid 1px #e5e5e6;
		min-height: 100px;
		max-height: 130px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	&:hover{
		
		.reviewHeadParag{
			color: #315efb;
		}
		.secondNewsParagrafs{
			color: #315efb;
		}

		.ind-rewheadBlock{
			color: #315efb;
		}

	}
}



.last-reviews-head{
	font-family: Roboto;
	font-size: 17px;
	font-weight: 500;
	color: #262626;
	margin-bottom: 10px;
}

.ind-review-btn{
	padding: 9px 10px;
	margin-top: 11px;

	font-family: Roboto;
  	font-size: 10px;
  	font-weight: 500;
  	text-align: center;
  	color: #444444;

  	&:focus{	
			padding: 9px 10px; 
	}
	&:hover{
			background-color: #eeeeee;
			border: none;
			padding: 11px 12px;

	}
	&:active{
			background-color: #d2d2d2;
			border: none;
			outline:none;
			padding: 11px 12px;
	}
}

.rewiewTimeParag{
		font-family: Roboto;
  		font-size: 11px;
		letter-spacing: normal;
		color: rgba(38, 38, 38, 0.4);
		margin: 5px 0;
		text-transform: uppercase;
	}
	
	.reviewHeadParag{
		font-family: Roboto;
		font-size: 14px;
		font-weight: 600;

		color: #262626;
	}

	.secondNewsParagrafs{
		opacity: 0.6;
		font-family: Roboto;
		font-size: 13px;
		line-height: 1.15;
		color: #000000;
		height: 30px;


		
	}
.reviewLastBlock{
		border-bottom: solid 0 white;
}


.bigHeaderParagraf-inx1{
	
	position:relative;
	
  	font-family: Roboto;
  	font-size: 102px;
  	font-weight: 600;
  	letter-spacing: -2.5px;
  	color: #f0f0f0;
  	

	&:after{
		content: "каталог заведений столицы";
		color: #000;
		
		margin: auto;
		position: absolute;
		top: 57px; left: 0; bottom: 0; right: 0;
			
		font-family: Roboto;
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		

  }
}

.bigHeaderParagraf-inx2{
	
	position:relative;
	
  	font-family: Roboto;
  	font-size: 102px;
  	font-weight: 600;
  	letter-spacing: -2.5px;
  	color: #f0f0f0;
  }

 .bigHeaderParagraf-inx3{
	opacity: 0.2;
	font-family: Roboto;
	font-size: 102px;
	font-weight: 600;
	letter-spacing: -2.5px;
	color: #000000;
 }


.resMoreRewiewBtn{
	font-family: Roboto;
	font-size: 10px;
	font-weight: 500;
	text-align: center;
	color: #444444;
	display: inline-block;
	text-align: center;
	
	border: solid 1px #eaeaea;
	padding: 11px 20px;
	margin-top: 20px;
	
			&:focus{	
			border:  solid 1px #eaeaea;

			}
			&:hover{
			background-color: #eeeeee;
			
			}
			&:active{
			background-color: #d2d2d2;
			}

}

.contentDiv5{
	padding: 0 30px;
}

.contentDiv6{
	padding: 0 15px;
}







.author-block-large{
	padding-right:0;
	background-color: #d8d8d8;
	height: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.author-blockLR-pars{
	padding-left: 90px;
}

.author-block-name{
	opacity: 0.6;
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.1px;
	margin-top: 10px;
  	color: #000000;
}

.author-block-small{
	padding-left:0;
	background-color: #ffc80a;
	height: 275px;
	display: flex;
	align-items: flex-end;
}

.author-block-title{
	font-family: Roboto;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -0.6px;
	line-height: 0.9;
	color: #000000;
	max-width: 300px;
}

.author-blockSM-pars{
	padding: 0 12px 16px;
}

.bigHeader {
	display:flex;
	justify-content: center;
}


#myCarousel-Two{
	height:240px;
	margin-bottom: 20px;
}

.premiereRevBanner{
	
	padding:20px;
	margin-bottom: 20px;
	position:relative;
	background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
	
	&:before{
		content:'';
		display: inline-block;
		position:absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: auto;
		
		background-image: linear-gradient(to left, transparent 0%, transparent 70%, rgba(0,0,0,0.4) 75%);
	}
}

.premiereRevBanner-cont{
  	background-color:#315efb;
  	padding:40px 70px 80px;
		
	.bigHeaderParagraf{
		padding:0;
	}
}

.premiereRevH2{
	font-family: Roboto;
	font-size: 26px;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 20px;
}

.premiereRevParagraf{
	opacity: 0.6;
  	font-family: Roboto;
  	font-size: 14px;
  	line-height: 1.15;
  	color: #000000;
  	margin-top: 20px;
}


.divWithBlueBorder{
	margin-bottom:0;
}
.socialBanner{
	margin: 0 -15px;
	background-image: url(img/Neon_Like.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height:400px;
	display:flex;
	align-items: center;

	.socialBannerIcons{
		display: flex;
		flex-direction: column;
		align-items: center;

		p{
			width: 280px;
			color:#ffffff;
			text-align: center;
		}
		div{
			margin-top: 20px;
			.instagramIcon{
				margin: 0 80px;
			}
		}
		
	}

}

.contentDiv7{
	margin-top:20px;
	padding: 0 15px;
}
.lastButton{
	display:flex;
	a{
		margin: 20px auto;
		padding: 10px 35px;
	}
	
}

.ind-lastBtn{
	margin-top: 50px;
}



.carousel-indicators{

	li{
		height: 5px;
		width: 5px;
		background-color: #4a4a4a;
		border: none;
		opacity: 0.8;
		margin: 0;
	}
	.active{
		height: 5px;
		width: 5px;
		background-color: #315efb;
		border: none;
	}
}





@media screen and (max-width: 860px){
.border-card-num{
	font-size: 300%;
}


.newsFirstDiv{
	padding: 0;
}

}



.category-lastBtn{
	padding-top: 20px;
}

.search-res-pag{
	margin: 0 auto;
	display: block;
	
	.nav-links{
			margin: 0 auto;
    		text-align: center;
    		position: relative;
			.prev{
				
				position: absolute;
				display: inline-block;

				left: -100px;
				top: 5px;
					&:before{
					content: '';
					background-image: url(img/left-arrow1.png);
					background-repeat: no-repeat;
					background-size: 100%;

					width: 16px;
					height: 16px;
					display: block;
					}
			}

			.next{
				display: inline-block;
				position: absolute;
				right: -100px;
				top: 5px;
				
					&:before{
					content: '';
					background-image: url(img/right-arrow.png);
					background-repeat: no-repeat;
					background-size: 100%;

					width: 16px;
					height: 16px;
					display: block;
					}
				}
			}
			.page-numbers{
				margin: 0 10px;
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.29;
				text-align: center;
				color: #262626;
			}
			.current{
				color: #315efb;
				font-weight: 600;
			}
}

.resultblock-hidden{
	display: none;
}

.rst-param-hidden{
	display: none;
}
.fullsearch-cardblock-hdn{
	display: none;
}

.change-search-param-hdn{
	display: none;
}

// .fb-btn-block{
// 	position: relative;
// 	.fb-share-button{
// 		transform: scale(1.5);
// 		-ms-transform: scale(1.5);
// 		-webkit-transform: scale(1.5);
// 		-o-transform: scale(1.5);
// 		-moz-transform: scale(1.5);
// 		.fb_iframe_widget{
// 			position: absolute;
// 			right: 70px;

// 			#u_0_2 {
// 				background-color: red !important;
// 				}



// 		}

// 	}
// }
// .tw-btn-block{
// 	position: relative;
// 	.twitter-share-button{
// 		position: absolute;
// 		left: 0;
// 		transform: scale(1.5);
// 		-ms-transform: scale(1.5);
// 		-webkit-transform: scale(1.5);
// 		-o-transform: scale(1.5);
// 		-moz-transform: scale(1.5);
// }
// }

// div ._2tga ._3e2a {
//     border-radius: 0;

// }


.comment-form-comment{
	
	label{
		display: none;
	}
	#comment-item{
		width: 100%;
		position: relative;
		border: solid 1px #e7e7e7;
		font-family: Roboto;
		font-size: 14px;
		line-height: 1.43;
		color: #262626;
		border-radius: 1px;
		&::placeholder {
				display: inline-block;
			    position: absolute;
			    width: 100px;

			    top: 60px;
			   
			    font-size: 14px;
			    font-family: Roboto;
				color: #a2a2a2;
				max-width: 100%;
				
				position: relative
				
			}
	}
}

#respond{
	.form-submit{
		display: none;
	}
}

#submit-new-item{
	margin-top: 25px;
	width: 126px;
	height: 35px;
	background-color: #196bfa;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	border: 1px solid  #315efb;
}

.item_comment_row{
	margin-top: 20px;
}

.non_seen_head{
	opacity: 0;
}

.warning-not-logged{
	display: inline-block;
	position: absolute;
	background-color: #fff;
	font-family: Roboto;
	color: #cacaca;
	font-size: 14px;
	width: 177px;
	z-index: 10;
	border-bottom: 2px solid red;
    padding-bottom: 4px;
    left: -114px;
    top: 4px;
}

.front_page_margin_card{
	margin-top: 20px;
}

#answer_textarea{
	width: 100%;
	border-radius: 0;
}

.answer_block{
	float: right;
}

.rest_form_group{
	margin: 0;
}

.main_phone_adwertis{
	margin-top: 30px;
}

.cardHearedH5{
	a{
		font-size: 12px;
	}
}

.social_phone_background{
	display: none;
}

.simPlaceParagraf{}

@media (min-width : 768px) and (max-width : 1024px){
	.container-fluid{
		max-width: 100%;
	}

	.catdest-newsblock1{
		padding-right: 0;
		padding-left: 0;
	}

	.border-card-par{
			overflow: hidden;
			max-width: 89%;
	}

	.contentDiv4{
		.cityGuidesRewiewBlocks{
			max-width: 190px;
		}
	}

	.premiereRevBanner-cont{
		width: 75%;
	}

	
}

@media (min-width : 320px) and (max-width : 767px) {


	.typeBlock1{
		overflow: hidden;
	}

	.mainpage-card-triple{
		width: 300px;
		margin: 0 auto;
	}

	.typeBlock3{
		padding: 0;
	}
	
	.main-card-double{
		width: 300px;
		margin: 0 auto;
	}
	
	.main-review-card-small{
		margin: 0 auto;
	}

	.main-card-single{
		margin: 0 auto;
	}

	.typeBlock2{
		padding-left: 0;
		.border-card-par{
			font-size: 90%;
			overflow: hidden;
			max-width: 89%;
		}


	}

	.main-review-card-small{
		max-width: 95%;
		.blockPictureDate{
			max-width: 90%;
			.categoryImages{
			max-width: 100%;
			overflow: hidden;
			max-height: 170px;
			}
		}
		
	}

	.main_phone_adwertis{
		display: flex;
		justify-content: center;
	}
	
	.card_simple_figure{
		width: 300px;
		margin: 0 auto;
	}
	.blueBorderBlock{
		border: solid 5px #315efb;
	}

	.typeBlock4{
		
		padding-left: 0;
    	padding-right: 0;
    	display: flex;
    	justify-content: center;
    	.main-card-single{
    		margin-right: 0;
    		margin-left: 0;
    	}
    	img{
    		max-width: 125px;
    	}
    	.paragraf{
			font-size: 0.9em;
		}
	}
	
	
	.lastNewsblock{
		display: none;
	}

	.catalogHeader{
		margin: 0;
	}
	.catalogMainHead{
		padding-left:0;
		padding-right:0;
		.bigHeaderParagraf-inx1{
			font-size: 65px;
			letter-spacing: -4.5px;
			&:after{
				letter-spacing: -1.3px;
				font-size: 20px;
				top: 34px;
			}
		}
	}
	
	.ctguide-lastrew-cont{
		width: 100%;
	}

	

	.contentDiv5{
		margin-top: 80px;
	}

	.author-block-large{
		margin-top: 25px;
		height: 400px;
		align-items: flex-start;
		justify-content: flex-start;

		.author-blockLR-pars{
			padding-left: 0;
			margin-top: 15px;
		}
	}
	
	.bigHeaderParagraf-inx2{
		font-size: 72px;
	}

	.contentDiv6{
		padding-right: 0;
		padding-left: 0;
		.contentDiv6_block{
			padding-right: 0;
			padding-left: 0;
		}
	}
	.premiereRevBanner{
		padding: 20px;
		//background-position: cover;
		height: 456px;
		background-size: cover;
		.premiereRevBanner-cont{
			padding: 10px;
			width: 100%;
			height: 375px;
			.bigHeaderParagraf-inx3{
				line-height: 0.9;
				font-size: 92px;
				text-align: center;
			}
			.premiereRevH2{
				line-height: 1;
				margin-top: 20px;
			}
		}
	}

	.phone_card_delete{
		display: none;
	}
	.front_border_card{
		display: none;
	}



	.socialBanner{
		background-image: none;
		background-color: #315efb;
		position: relative;

		.socialBannerIcons{
		padding: 0;
		div{
			.instagramIcon{
				margin: 0 70px;
			}
		}
		}
	}

	.social_phone_background{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		background-image: url(img/Neon_Like_Phone.png);
		background-repeat: no-repeat;
		background-size: 120%;
    	background-position: -10%;
    	opacity: 0.3;
	}

	.front_card_double{
		display: none;
	}

	
	.newsFirstDiv{
	padding: 0 20px;
	}
	
}

.rating-block{
    display: flex;
    justify-content: flex-start;
	align-items: center;
    margin: 5px 0;
    width: 200px;
    position: relative;


    .price-rating-star{
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 16px;
    	height: 16px;
    }
}

.rest_rating_count{
	font-family: Roboto;
  	font-size: 24px;
  	font-weight: 900;
  	color: #ffffff;
  	margin-left: 15px;
}



.auth_rating_alert{
	width: 130%;
	height: 30px;
	background-color: #d8d8d8;
	position: absolute;
	top: 0;
	left: 0;

	z-index: 10;
    font-size: 16px;
    height: 30px;
    text-align: center;
   	color: #616161;
    border-bottom: 3px solid red;
}

.fb-btn-block, .tw-btn-block
{
	text-align: right;
}

.btn_share_fb, .btn_share_tw
{
	position: relative;
	display: inline-block;

    width: 140px;
	height: 35px;

    font-family: Roboto;
    font-size: 12px;
    color: #fff;
    text-align: center;

    padding: 10px 0;
    
	background-color: #4763a1;

	cursor: pointer;

	&:before
	{
		content: url(./img/f-b-share.png);
	
	    width: 12px;
		height: 19px;

	    position: absolute;
	    left: 40px;
	    top: 0;
	    right: auto;
	    bottom: 0;

	    margin: auto;
	}
}

.tw-btn-block
{
	text-align: left;
}

.btn_share_tw
{
    background-color: #5d9ec9;

    padding-left: 15px;

	&:before
	{
		content: url(./img/fill-1.png);
	

	}
}