
@font-face {
  font-family: 'SFUIDisplay-Thin';
  src: url('SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),  
  url('SFUIDisplay-Thin.woff') format('woff'), 
  url('SFUIDisplay-Thin.ttf')  format('truetype'), 
  url('SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
