
@font-face {
  font-family: 'SFUIText-Bold';
  src: url('SFUIText-Bold.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-Bold.woff') format('woff'), 
  url('SFUIText-Bold.ttf')  format('truetype'), 
  url('SFUIText-Bold.svg#SFUIText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
