
@font-face {
  font-family: 'SFUIText-LightItalic';
  src: url('SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-LightItalic.woff') format('woff'), 
  url('SFUIText-LightItalic.ttf')  format('truetype'), 
  url('SFUIText-LightItalic.svg#SFUIText-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
