

@mixin fontSettings(){
  		font-family: Roboto;
  		text-align: center;
  	  	font-size: 12px;
  		font-weight: 500;
  		
}


.btn-standart-blue{
		@include fontSettings();
		max-width: 180px;
	  	background-color: #315efb;

	  	color: #ffffff;
	  	padding: 15px 53px;

			  &:focus{
				border: double 1px #649dff;
				color: #ffffff;
			  }
			  &:hover{
				background-color: #234ae4;
				color: #ffffff;
			  }
			  &:active{
			  	background-color: #1039d6;
			  }
			
}	

.btn-small-blue{
		@include fontSettings();
		 background-color: #315efb;
		display: inline-block;
	  	color: #ffffff;
	  	padding: 15px 36px;

		  	&:focus{
			border: double 1px #649dff;
			color: #ffffff;
			padding: 14px 35px;
			}
			&:hover{
			background-color: #234ae4;
			color: #ffffff;
			}
			&:active{
			background-color: #1039d6;
			}
		
}

.btn-standart-grey{
		@include fontSettings();
		max-width: 160px;
		letter-spacing: 1px;
		text-align: center;
		color: #444444;
		padding: 16px 53px;
		background-color: #eaeaea;

			&:focus{
			border: solid 1px #649dff;
			}
			&:hover{
			background-color: #eeeeee;;
			}
			&:active{
			background-color: #d2d2d2;
			}
}	

.btn-standart-border{
		@include fontSettings();
		display: inline-block;
		letter-spacing: 1px;
		text-align: center;
		color: #444444;
		border: solid 2px #eaeaea;
		padding: 16px 53px;
	

		
			&:focus{	
			outline:  solid 1px #eaeaea;
			}
			&:hover{
			background-color: #eeeeee;
			border: none;
			padding: 18px 55px;

			}
			&:active{
			background-color: #d2d2d2;
			border: none;
			outline:none;
			}
}	


.btn-small-white{
		@include fontSettings();
		background-color: #ffffff;
	  	padding: 15px 36px;
		width: 55px;
		height: 14px;
		font-family: Roboto;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		color: #444444;


		&:focus{
			outline:  solid 1px #649dff;
		}

		&:hover{
			background-color: #eeeeee;
		}
		&:active{
			background-color: #d2d2d2;
			border: none;
			outline:none;
		}

}

.btn-standart-count{
	display: inline-block;
	padding: 1px;
	border: solid 2px #28bc00;
	div{
		
		padding: 5px 21px 6px 21px;
		border: solid 1px transparent;
		span{
		@include fontSettings();
		margin-right: 10px;
		display: inline-block;
		}
	}

	
	&:focus{
		border: solid 1px #649dff;
		div{
			border: solid 2px #28bc00;
		}

	}

	&:hover{
		opacity: 0.8;
	}

	&:active{
		border: solid 1px #649dff;
		div{
			border: solid 2px #28bc00;
		}
	}

}

.btn_wait
{
	@include fontSettings();
	max-width: 180px;
	
	color: #eaeaea;

	background-color: #fff;
    border: 2px solid #eaeaea;
    
    cursor: wait;

    &:hover
    {
    	color: #eaeaea;

		background-color: #fff;
	    border: 2px solid #eaeaea;
	    
	    cursor: wait;
    }
}												