
@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),  
  url('SFUIDisplay-Light.woff') format('woff'), 
  url('SFUIDisplay-Light.ttf')  format('truetype'), 
  url('SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
