
@font-face {
  font-family: 'SFUIText-MediumItalic';
  src: url('SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-MediumItalic.woff') format('woff'), 
  url('SFUIText-MediumItalic.ttf')  format('truetype'), 
  url('SFUIText-MediumItalic.svg#SFUIText-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
