
@font-face {
  font-family: 'SFUIText-Heavy';
  src: url('SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-Heavy.woff') format('woff'), 
  url('SFUIText-Heavy.ttf')  format('truetype'), 
  url('SFUIText-Heavy.svg#SFUIText-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
