
@font-face {
  font-family: 'SFUIDisplay-Ultralight';
  src: url('SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),  
  url('SFUIDisplay-Ultralight.woff') format('woff'), 
  url('SFUIDisplay-Ultralight.ttf')  format('truetype'), 
  url('SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
