
@font-face {
  font-family: 'SFUIDisplay-Black';
  src: url('../../themes/firstproject/fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),  
  url('../../themes/firstproject/fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.woff') format('woff'), 
  url('../../themes/firstproject/fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.ttf')  format('truetype'), 
  url('../../themes/firstproject/fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
